.container {
	width: 100%;
	margin: 0;
	/* height: 150px; */
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	border: 2px solid red;
	align-items: center;
	flex-direction: column;
}

.mobileWindow {
	width: 50vw;
}

.description {
	text-align: center;
	font-size: 18px;
}

.button {
	font-size: 18px;
}

/* Mobile styles */
@media (max-width: 768px) {
	.mobileWindow {
		width: 75vw !important;
	}

	.description {
		font-size: 14px;
		line-height: 1.4;
	}

	.button {
		font-size: 14px;
	}
}
